
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Geriausias ir sparčiausias aptarnavimas. Kompiuterija siūlo patį patogiausią
    būda rinkti kompiuterius ir susirasti kompatibilias kompiuterių detales.</p>
