@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Kompiuterija<br />
    Address: Yo mom's house<br />
    <abbr title="Phone">Phone:</abbr>
    ask your mom
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@kompiuterija.com">Support@kompiuterija.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@kompiuterija.com">Marketing@kompiuterija.com</a>
</address>