
@{
    ViewBag.Title = "Items";
}

<style>
    img {
        max-width: 100%;
        max-height: 100%;
    }

    ul.products li {
        width: 20%;
        height: 30%;
        display: inline-block;
        vertical-align: top;
    }
    .mygtukas {
        position: absolute;
        bottom: 0;
        left: 0;
    }

</style>
<div class="jumbotron">
    <ul class="products">
        <li>
            <a href="#">
                <img src="https://images-na.ssl-images-amazon.com/images/I/91PGgm6qzOL._AC_SX466_.jpg">
                <h4>geforce 5555</h4>
                <p>$200.00</p>
                <p id="mygtukas"><a href='@Url.Action("Items", "Home")' class="btn btn-primary btn-lg">Peržiūra &raquo;</a></p>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="https://i.pinimg.com/originals/5b/87/83/5b8783a2450c63d5c92053c31ff2adc3.jpg">
                <h4>geforce 9000+</h4>
                <p>$250.00</p>
                <p><a href='@Url.Action("Items", "Home")' class="btn btn-primary btn-lg">Peržiūra &raquo;</a></p>
            </a>
        </li><!-- more list items -->

</div>