


<style>
    tr:nth-child(even) {
        background: #CCC
    }

    tr:nth-child(odd) {
        background: #FFF
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }

    #divspec {
        border-style: inset;
    }
    #num{
    color: #0a74ca;
    font-size: 24px;
    font-weight: bold;
    position: center;
    right: 20%
    }
</style>
<div id="divspec">
    <img src="http://www.skytech.lt/images/medium/66/2526766.png">

    <div id="num"><p>3 199.00€</p></div>
    <p><a class="btn btn-primary btn-lg">Į krepšelį &raquo;</a></p>

</div>
<div id="divspec">
    <div>
        <table class="specification">
            <tbody>
                <tr >
                    <td >Procesorius</td>
                    <td ><a href="https://www.amd.com/en/products/cpu/amd-ryzen-9-3900x"><span style="color:#0000ff;">AMD Ryzen™ 9 3900X</span></a>, 12C/24T, 3.8-4.6 GHz, 70 MB, AM4, 105W, 7nm</td>
                </tr>
                <tr >
                    <td>Aušintuvas</td>
                    <td><a href="https://www.nzxt.com/products/kraken-x52"><span style="color:#0000ff;">NZXT liquid cooler Kraken X52</span></a> 240mm AIO Liquid Cooler with RGB</td>
                </tr>
                <tr >
                    <td >Pagr. plokštė</td>
                    <td >
                        <a href="https://www.asus.com/Motherboards/ROG-Strix-X570-E-Gaming/"><span style="color:#0000ff;">ASUS ROG Strix X570-E Gaming</span></a><br>
                        <ul>
                            <li>Optimal Power Solution: 12+4 power stages with ProCool II power connector, alloy chokes and durable capacitors to support multi-core processors</li>
                            <li>Comprehensive cooling: Active chipset heatsink, MOS heatsink with 8mm heatpipe, dual on-board M.2 heatsinks and a water pump + header</li>
                            <li>Gaming networking: 2.5Gbps LAN and Intel Gigabit Ethernet with ASUS LANGuard, Wi-Fi 6 (802.11ax) with MU-MIMO, and gateway teaming via GameFirst V</li>
                            <li>5-Way Optimization: Automated system-wide tuning, providing overclocking and cooling profiles that are tailor made for your rig</li>
                            <li>Gaming audio: High fidelity audio with SupremeFX S1220A, DTS® Sound Unbound and Sonic Studio III to draw you deeper into the action</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td >Operatyvioji atmintis</td>
                    <td ><a href="https://www.gskill.com/product/165/167/1536718734/F4-3200C16D-32GTZRXTrident-Z-RGB-(For-AMD)DDR4-3200MHz-CL16-18-18-38-1.35V32GB-(2x16GB)"><span style="color:#0000ff;">G.Skill Trident Z RGB</span></a> (for AMD) DDR4 32GB (2x16GB) 3200MHz CL16 1.35V XMP 2.0</td>
                </tr>
                <tr >
                    <td >SSD kaupiklis</td>
                    <td >Samsung <a href="https://www.samsung.com/us/computing/memory-storage/solid-state-drives/ssd-970-evo-plus-nvme-m-2-1-tb-mz-v7s1t0b-am/"><span style="color:#0000ff;">SSD 970 EVO PLUS NVMe M.2 PCIe 1TB</span></a>, 3500/3300MB/s</td>
                </tr>
                <tr >
                    <td >Vaizdo plokštė</td>
                    <td >ASUS <a href="https://www.asus.com/Graphics-Cards/ROG-STRIX-RTX2080TI-O11G-GAMING/"><span style="color:#0000ff;">ROG Strix GeForce RTX™ 2080 Ti OC</span></a> edition 11GB GDDR6 for 4K and VR gaming</td>
                </tr>
                <tr >
                    <td>Garso sistema</td>
                    <td>
                        ROG SupremeFX 8-Channel High Definition Audio CODEC S1220A<br>
                        - Dual OP Amplifiers<br>
                        - Impedance sense for front and rear headphone outputs<br>
                        - Supports : Jack-detection, Multi-streaming, Front Panel Jack-retasking<br>
                        - High quality 120 dB SNR stereo playback output and 113 dB SNR recording input<br>
                        - SupremeFX Shielding Technology
                    </td>
                </tr>
                <tr >
                    <td >Tinklo adapteris</td>
                    <td >1 x Intel I219-V Gigabit LAN controller</td>
                </tr>
                <tr >
                    <td>Išplėtimo prievadai</td>
                    <td >
                        1 x LAN (RJ45) port(s)<br>
                        4 x USB 3.1 Gen 2 (3 x Type-A+1 x USB Type-C<sup>TM</sup>)<br>
                        2 x USB 3.1 Gen 1<br>
                        2 x USB 2.0<br>
                        1 x Optical S/PDIF out<br>
                        5 x Audio jack(s)
                    </td>
                </tr>
                <tr>
                    <td >Korpusas</td>
                    <td >
                        <p><a href="https://www.asus.com/Gaming-Case/ROG-Strix-Helios/"><span style="color:#0000ff;">ASUS ROG Strix Helios</span></a> RGB ATX/EATX mid-tower gaming case with tempered glass, aluminum frame</p>
                        <ul>
                            <li>Ready for serious cooling: Supports an up to EATX motherboard, with room for 420mm front radiators and water-cooling pump and reservoir</li>
                            <li>Advanced I/O panel: USB 3.1 Gen 2 Type-C™ port, four USB 3.0 ports, an RGB-lighting control button and a fan-speed control button</li>
                            <li>Comfortable case handles: Easily carry your prized build to LAN parties with ergonomic and stylish fabric handles</li>
                        </ul>
                    </td>
                </tr>
                <tr >
                    <td >Maitinimo blokas</td>
                    <td ><a href="https://www.corsair.com/eu/en/Categories/Products/Power-Supply-Units/Power-Supply-Units-Advanced/RM-Series%E2%84%A2-80-PLUS-Gold-Power-Supplies/p/CP-9020196-EU#tab-overview"><span style="color:#0000ff;">PSU Corsair RM Series RM850</span></a> 850W, 135mm, 80 PLUS Gold, ATX, Fully Modular</td>
                </tr>
                <tr >
                    <td>Matmenys (Ax P x G), cm</td>
                    <td >25 x 56,5 x 59,1</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>