@using komp.Models.tipai
@using Microsoft.Ajax.Utilities
@model IEnumerable<komp.Models.Item>

<style>
    img {
        max-width: 100%;
        max-height: 100%;
    }

    ul.products li {
        width: 20%;
        height: 30%;
        display: inline-block;
        vertical-align: top;
    }

    .mygtukas {
        position: absolute;
        bottom: 0;
        left: 0;
    }
</style>
@if (!(Session["Role"] is null))
{
    if (Session["Role"].Equals(Role.Admin))
    {
        <input type="button" value="Registruoti prekę &raquo;" onclick="location.href = '@Url.Action("NewItem", "Item")'"/>
    }
}
<div class="jumbotron">

    <ul class="products">
        @foreach (var item in Model)
        {
            <li>
                <a href="#">
                    <img src="~/Assets/images/Items/@item.path">
                    <h4>@item.pavadinimas</h4>
                    <p>"@item.kaina $"</p>
                    <input type="button" value="Peržiūra &raquo;" onclick="location.href = '@Url.Action("Item", "Item",new RouteValueDictionary(new { id = item.id }))'" />
                </a>
            </li>
        }
    </ul>

</div>