@using komp.Models.tipai
@model komp.Models.Item


<style>
    tr:nth-child(even) {
        background: #CCC
    }

    tr:nth-child(odd) {
        background: #FFF
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }

    #divspec {
        border-style: inset;
    }

    #num {
        color: #0a74ca;
        font-size: 24px;
        font-weight: bold;
        position: center;
        right: 20%
    }
</style>
@if ((Session["Role"] is null))
{

}
else if (Session["Role"].Equals(Role.Admin))
{
    <input type="button" value="Redaguoti prekę &raquo;" onclick="location.href = '@Url.Action("EditItemIndex", "Item", @Model)'" />
}
@{
    <div id="divspec">
        <img src="~/Assets/images/Items/@Model.path">

        <div id="num"><p>@Model.kaina €</p></div>
        <p><a class="btn btn-primary btn-lg">Į krepšelį &raquo;</a></p>

    </div>
}

<div id="divspec">
    <div>
        <ul>
            <li> @Model.aprasymas</li>
        </ul>
    </div>
</div>