
@{
    ViewBag.Title = "Prisijungti";
}

<h2>Prisijungti</h2>
<body>  
    <form action='@Url.Action("Items", "Home")' method="post" >
        <div class="container">
            <label for="email"<b>Įveskite elektroninį paštą</b></label><br />
            <input type="text" placeholder="Įveskite e.paštą" name="email" required /><br />
            <label for="password"><b>Įveskite slaptažodį</b></label><br />
            <input type="password" placeholder="Įveskite slaptažodį" name="passowrd" required><br />
            <button class="btn btn-primary btn-lg" &raquo; type="submit">Prisijungti</button>

        </div>
    </form>
</body>