@using komp.Models
@model komp.Models.Comment

@{
    var itemid = (int) ViewData["itemId"];
    var userid = (int) ViewData["userId"];
    Model.sukurimoData = DateTime.Now;

}
<h1>Rašyti komentarą</h1>
<style>

    textarea {
        font-size: .8rem;
        letter-spacing: 1px;
        padding: 10px;
        line-height: 1.5;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-shadow: 1px 1px 1px #999;
        width: 100%;
        resize: both;
        overflow: auto;
    }
</style>
@using (Html.BeginForm("Create", "Comment",new { itemId = @itemid, userID = @userid }, FormMethod.Post, null))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "Nepavyko prisijungti. Klaidingi prisijungimo duomenys.")


    @Html.TextAreaFor(model => model.turinys)
    @Html.ValidationMessageFor(model => model.turinys, "", new { @class = "text-danger", required = "required" })

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Komentuoti" class="btn btn-default" />
        </div>
    </div>


}
